html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}

/* 導覽列 */
.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0%;
    right: 0%;
    background-color: rgb(255, 252, 235);
    box-shadow: 1px 1px 20px 1px rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5 rem;
    padding-bottom: 0.5 rem;
    z-index: 10;
}

.navbar-logo {
    width: 90px;
    position: fixed;
    left: 3%;
}

.listdiv {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 40%;
}

.tab-pane {
    width: 100%;
    height: 60vh;
    overflow: scroll;
}

.searchGroup {
    position: absolute;
    left: 10%;
    top: 50px;
    z-index: 1;
    width: 80%;
}

.title1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    display: flex;
    align-items: flex-end;
    color: #1b4277;
    position: absolute;
    left: 11%;
    top: 11px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.title2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    display: flex;
    text-align: center;
    color: #1b4277;
    position: absolute;
    left: 11%;
    top: 46px;
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: 4px;
}

.fa-search {
    color: white;
}

.nav {
    position: absolute;
    top: 100px;
    left: 5%;
}

.nav-link {
    color: #f5c344;
}

#myTab {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#goList {
    position: absolute;
    top: 200px;
    left: 5%;
    z-index: -1;
}

#backList {
    position: absolute;
    top: 200px;
    left: 5%;
}

.listDiv {
    overflow: scroll;
}

.nav-item {
    width: 100%;
}

#back-tab {
    height: 50px;
}

#back-tab:hover {
    background-color: #f5c344;
    color: #ffffff;
}

#go-tab {
    height: 50px;
}

#go-tab:hover {
    background-color: #f5c344;
    color: #ffffff;
}

#searchBus {
    position: relative;
    left: 5%;
}

#map {
    height: 1000px;
    width: 55%;
    position: fixed;
    top: 80px;
    right: 0px;
    display: block;
    z-index: -100;
    overflow-y: hidden;
}

.leaflet-marker-icon {
    width: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 5px;
    font-size: 10px;
    color: #1b4277;
}
